:root{  /*variaveis p cor*/
    --yellow: #e9e50d;
    --black: #141414;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: #fff;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
 }
 
 header .logo{
     margin-left: 5px;
     color: var(--yellow);
     font-family: 'Arial Black', Times;
     letter-spacing: 0.5rem  ;
     font-size: 40px;
 }
 
 header nav a {
     text-decoration: none;
     color: #AAA;
     margin-right: 10px;
 }
 header nav a:hover{
     color:#fff;
 }
.imagem, img{
    display: table;
  width: 100%;
  height: 100%;
  
background-position: 30% 45%;
opacity: 5;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.rodape{
    color: var(--yellow);
    text-align: center;
    padding: 3%;
}
img{
    width: 30%;
}
